<?xml version="1.0" encoding="UTF-8"?>
<config>
    <tabs>
        <blindhash translate="label" module="blindhash_securepassword">
            <label>Blind Hash</label>
            <sort_order>506</sort_order>
        </blindhash>
    </tabs>
    <sections>
        <blindhash translate="label" module="blindhash_securepassword">
            <label>Secure Password</label>
            <tab>blindhash</tab>
            <sort_order>120</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>0</show_in_website>
            <show_in_store>0</show_in_store>
            <groups>
                <securepassword translate="label" module="blindhash_securepassword">
                    <label>General</label>                    
                    <expanded>1</expanded>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>                       
                        <enabled translate="label comment" module="blindhash_securepassword">
                            <label>Enable BlindHash Protection ?</label>                            
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </enabled>
                        <api_key translate="label comment" module="blindhash_securepassword">
                            <label>AppID Token</label>
                            <comment>AppID Token of Blind Hash</comment>
                            <frontend_type>password</frontend_type>                            
                             <validate>required-entry</validate>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>                            
                        </api_key>
                        <legacy_hashes translate="label comment" module="blindhash_securepassword">
                            <label>Legacy Hashes</label>                            
                            <frontend_type>select</frontend_type>
                            <source_model>blindhash_securepassword/system_config_source_legacy</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </legacy_hashes>                          
                        <encryption_available>
                            <label>Encryption Available</label>
                            <frontend_model>blindhash_securepassword/adminhtml_system_config_encryption_available</frontend_model>
                            <frontend_type>label</frontend_type>                            
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>                            
                        </encryption_available>
                        <api_public_key translate="label comment" module="blindhash_securepassword">
                            <label>Encryption Key</label>
                            <frontend_model>blindhash_securepassword/adminhtml_system_config_encryption_loaded</frontend_model>
                            <frontend_type>label</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>                            
                        </api_public_key>
                        <server_list translate="label comment" module="blindhash_securepassword">
                            <label>Taplink Server List</label>
                            <frontend_model>blindhash_securepassword/adminhtml_system_config_taplink_serverlist</frontend_model>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>                            
                        </server_list> 
                        <upgrade_hashes translate="label comment" module="blindhash_securepassword">
                            <frontend_type>button</frontend_type>
                            <frontend_model>blindhash_securepassword/adminhtml_system_config_upgrade_button</frontend_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Upgrade Hashes will upgrade insecure legacy hashes with BlindHash secured hashes. Users will be able to login as usual.</comment>
                        </upgrade_hashes>
                        <downgrade_hashes translate="label comment" module="blindhash_securepassword">
                            <frontend_type>button</frontend_type>
                            <frontend_model>blindhash_securepassword/adminhtml_system_config_downgrade_button</frontend_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Downgrade Hashes will restore legacy hashes and disable BlindHash security on your hashes. You must downgrade all hashes before uninstalling the BlindHash extension, and you must provide the Uninstall Key.</comment>
                        </downgrade_hashes>
                        <total_hashes>
                            <label>Total Hashes</label>
                            <frontend_model>blindhash_securepassword/adminhtml_system_config_total_hashes</frontend_model>
                            <frontend_type>label</frontend_type>                            
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>                            
                        </total_hashes> 
                        <total_blindhashes>
                            <label>BlindHash Protected Hashes</label>
                            <frontend_model>blindhash_securepassword/adminhtml_system_config_total_blindhashes</frontend_model>
                            <frontend_type>label</frontend_type>                            
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>                            
                        </total_blindhashes>                             
                    </fields>
                </securepassword>
                <request translate="label" module="blindhash_securepassword">
                    <label>Request Management</label>                    
                    <expanded>1</expanded>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>                       
                        <request_statistics translate="label comment" module="blindhash_securepassword">
                            <label>Track Request Statistics ?</label>                            
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </request_statistics>
                        <retry_count>
                            <label>Retry Count</label>
                            <frontend_type>text</frontend_type>                            
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>                            
                        </retry_count>                        
                        <timeout>
                            <label>Timeout</label>
                            <comment>Timout values should be passed in miliseconds (1000 ms = 1 second)</comment>
                            <frontend_type>text</frontend_type>                            
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>                            
                        </timeout>
                        <total_retry_count>
                            <label>Total Retry Count</label>                            
                            <frontend_type>label</frontend_type>                            
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>                            
                        </total_retry_count>
                        <total_request_count>
                            <label>Total Request Count</label>                            
                            <frontend_type>label</frontend_type>                            
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>                            
                        </total_request_count>
                        <total_error_count>
                            <label>Total Error Count</label>
                            <frontend_type>label</frontend_type>                            
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>                            
                        </total_error_count>                          
                    </fields>
                </request>
            </groups>
        </blindhash>
    </sections>
</config>